@media (max-width: 1199px) {
  .nav-item {
    padding: 0px 10px !important;
  }
  .hero_text {
    padding-top: 150px !important;
    padding-left: 80px !important;
  }
  .hero_text h1 {
    font-size: 25px !important;
  }
  .load_css {
    top: 40% !important;
    left: 40% !important;
  }
  .inst_cont h1 {
    font-size: 30px !important;
    line-height: 1.5;
  }
  .inst_info .mr-80 {
    margin-right: 50px;
  }
  .dpt_cont h1 {
    font-size: 30px !important;
  }
  .crs_sec h1 {
    font-size: 30px !important;
  }
  .client_sec h1 {
    font-size: 30px !important;
  }
  .test_box {
    width: 65% !important;
  }
  .show_header h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 991px) {
  .inst_sec, .adm_sec, .dpt_sec, .news_sec, .crs_sec, .show_sec, .cont_sec {
    padding: 70px 0px 50px;
  }
  .cont_sec {
    padding-bottom: 35px;
  }
  .nav-link::before {
    display: none;
  }
  .hero_text {
    padding-left: 15px !important;
    padding-top: 30px !important;
    text-align: center;
  }
  .edu_feature_sec {
    margin-top: 80px;
  }
  .inst_cont h1 {
    font-size: 25px !important;
    line-height: 1.5;
    text-align: center;
  }
  .ready_cont p {
    text-align: center;
    font-size: 14px;
  }
  .ready_cont h3 {
    font-size: 25px !important;
    text-align: center;
  }
  .adm_photo, .form_box {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .news_cont h1 {
    font-size: 25px !important;
  }
  .single_test h3 {
    font-size: 22px !important;
  }
  .dpt_cont h1 {
    font-size: 25px !important;
  }
  .crs_sec h1 {
    font-size: 25px !important;
  }
  .client_sec h1 {
    font-size: 25px !important;
  }
  .test_box {
    width: 80% !important;
  }
  .show_header h1 {
    font-size: 25px !important;
  }
  .footer_sec .copy p {
    font-size: 13px;
  }
  .footer_sec .nav a {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .edu_feature_sec {
    margin-top: 60px;
  }
  .load_css {
    top: 36% !important;
    left: 36% !important;
  }
  .news_sec .news_cont h1 {
    font-size: 24px !important;
  }
  .adm_photo, .form_box {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .owl-nav {
    display: none !important;
  }
  .test_box {
    width: 100% !important;
  }
  .cont_link p {
    padding-bottom: 15px;
  }
  .cont_link li {
    margin-bottom: 10px;
  }
  .cont_link .input-group {
    margin-top: 0px !important;
  }
}

@media (max-width: 575px) {
  .navbar-brand .img-fluid {
    max-width: 70%;
  }

  .hero_text{
    padding-left: 0px !important;
    padding-top: 15px !important;

  }

  .hero_text h1 {
    font-size: 22px !important;
    line-height: 1.7;
  }
  .type-text {
    font-size: 15px;
  }
  .edu_feature_sec {
    margin-top: 30px;
  }
  .load_css {
    display: none;
  }
  .inst_sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inst_cont h1 {
    font-size: 25px !important;
    line-height: 1.5;
  }
  .inst_info .mr-80 {
    margin-right: 20px;
  }
  .inst_info h3 {
    font-size: 25px !important;
  }
  .inst_info span {
    font-size: 16px !important;
  }
  .adm_sec {
    padding: 50px 0px !important;
  }
  .adm_sec .adm_photo, .adm_sec .form_box {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .form_box .btn_green {
    padding: 10px 15px !important;
  }
  .news_sec {
    padding: 50px 0px 35px;
  }
  .dpt_sec {
    padding: 50px 0px 35px;
  }
  .dpt_cont h1 {
    font-size: 25px !important;
  }
  .crs_sec h1 {
    font-size: 25px !important;
  }
  .crs_sec {
    padding: 50px 0px 35px;
  }
  .client_sec h1 {
    font-size: 25px !important;
  }
  .test_box {
    width: 100% !important;
    padding: 40px 5px !important;
  }
  .test_box span {
    margin-bottom: 10px !important;
  }
  .show_sec {
    padding: 50px 0px 35px;
  }
  .show_header h1 {
    font-size: 25px !important;
  }
  .cont_sec {
    padding: 50px 0px 20px;
  }
  .footer_sec .copy p {
    font-size: 14px;
  }
  .footer_sec .nav a {
    font-size: 14px;
  }
  .progress {
    width: 100% !important;
  }
}

@media (max-width: 375px) {
  .crs_sec .col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
