body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* ? Just For This Template */
.cp {
  color: #43cb83;
}


.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #091b29;
  z-index: 999999;
}

.btn_green {
  position: relative;
  padding: 15px 30px;
  font-weight: 600;
  background-color: #43cb83;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  overflow: hidden;
  z-index: 1;
}

.btn_green:hover {
  color: #43cb83;
}

.btn_green::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #fff;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
  z-index: -1;
}

.btn_green:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn_white {
  position: relative;
  padding: 15px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-box-shadow: 0px 0px 57px #d6d5d5;
          box-shadow: 0px 0px 57px #d6d5d5;
  border-radius: 35px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  overflow: hidden;
  z-index: 1;
  background-color: #43cb83;
}

.btn_white:hover {
   color: #32ae7f;
}

.btn_white::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #fff;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
  z-index: -1;
}

.btn_white:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main_nav.nav-border {
  border-bottom: 3px solid #32ae7f;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.brnd_custom {
  max-width: 70% !important;
  height: auto;
}

h1 {
  line-height: 1.5 !important;
}

/* ?Header Section */

.header_sec .main_nav .navbar li.active a {
  color: #32ae7f !important;
}

.header_sec .main_nav .navbar .nav-item {
  padding: 0px 12px;
}

.header_sec .main_nav .navbar .nav-item .nav-link {
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #5a6e79;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.header_sec .main_nav .navbar .nav-item .nav-link:hover {
  color: #43cb83;
}

.header_sec .main_nav .navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #43cb83;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header_sec .main_nav .navbar .nav-item .nav-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* ?Banner Section */
.banner_sec {
  position: relative;
}

.banner_sec .girl {
  top: 100px;
  left: 0px;
  width: 33% !important;
  z-index: -1;
}

.banner_sec .bgbook {
  top: 110px;
  right: 65px;
}

.banner_sec .book {
  top: -25px;
  right: 0px;
  width: 40% !important;
  z-index: -1;
}

.banner_sec .hero_text {
  padding-top: 160px;
  padding-left: 50px;
}

.banner_sec .hero_text h1 {
  font-size: 35px;
  text-transform: uppercase;
}

.banner_sec .hero_text p {
  margin-bottom: 20px;
}

.banner_sec .hero_text .type-text {
  font-size: 18px;
}

/* ?Feature Section */

.edu_feature_sec {
  margin-top: 120px;
}

.edu_feature_sec .feature {
  position: relative;
  overflow: hidden;
  padding: 60px 0px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.edu_feature_sec .feature:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.edu_feature_sec .feature img {
  margin-bottom: 15px;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.edu_feature_sec .feature:hover img {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.edu_feature_sec .feature h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #252c3a;
}

/* ?Institute Section */
.inst_sec {
  padding-top: 100px;
  padding-bottom: 100px;
}

.inst_sec .inst_shape {
  top: -50px;
  left: -50px;
  max-width: 30%;
  z-index: -1;
}

.inst_sec .inst_img .play_btn {
  overflow: hidden;
  z-index: 9;
}

.inst_sec .inst_img .play_btn i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background-color: #43cb83;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .7s;
  transition: .7s;
}

.inst_sec .inst_img .play_btn i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.inst_sec .inst_img .load_css {
  position: absolute;
  top: 42%;
  left: 42%;
  z-index: 2;
}

.inst_sec .inst_img .load_css .ball-scale-multiple div {
  width: 150px;
  height: 150px;
  background-color: #fff;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.inst_sec .inst_cont h1 {
  font-size: 35px;
  text-transform: uppercase;
}

.inst_sec .inst_cont p {
  margin: 30px 0px;
}

.inst_sec .inst_cont .inst_info h3 {
  margin-bottom: 0px !important;
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
}

.inst_sec .inst_cont .inst_info span {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

/* ?Admission Section */
.adm_sec {
  padding: 100px 0px;
  background-color: #f1f1f1;
  background-size: cover;
  background-position: center;
}

.adm_sec .adm_pro {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.adm_sec .adm_pro .adm_loader {
  top: 8px;
  left: 8px;
  opacity: 0.4;
}

.adm_sec .adm_pro .cs svg.radial-progress {
  max-width: 120px;
}

.adm_sec .adm_pro .cs .boys circle {
  stroke: #466EB6;
}

.adm_sec .adm_pro .cs .boys text {
  fill: #466EB6;
}

.adm_sec .adm_pro .cs .girls circle {
  stroke: #F27358;
}

.adm_sec .adm_pro .cs .girls text {
  fill: #f27358;
}

.adm_sec .adm_pro .progress {
  width: 65%;
  height: 20px;
  margin: 15px auto 0px;
  font-size: 12px;
}

.adm_sec .ready_cont p {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.adm_sec .ready_cont p span {
  color: #ff5f72;
}

.adm_sec .ready_cont h3 {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  color: #252c3a;
}

.adm_sec .form_box {
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.adm_sec .form_box h5 {
  margin-bottom: 30px;
  color: #252c3a;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.adm_sec .form_box form .input_cont {
  margin-bottom: 25px;
}

.adm_sec .form_box form input[type="text"], .adm_sec .form_box form input[type="password"], .adm_sec .form_box form input[type="email"] {
  position: relative;
  font-family: "Work Sans", sans-serif;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #d7e4ed;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.adm_sec .form_box form input[type="text"]:focus, .adm_sec .form_box form input[type="password"]:focus, .adm_sec .form_box form input[type="email"]:focus {
  border-bottom-color: #43cb83;
}

.adm_sec .form_box form input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #c6c6c6;
  z-index: 8;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.adm_sec .form_box form input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 7;
}

.adm_sec .form_box form input:checked[type="checkbox"] {
  background-color: #86d1cd;
}

.adm_sec .form_box form input:checked[type="checkbox"]:before {
  left: 40px;
}

.adm_sec .form_box form .f_link {
  display: inline-block;
  margin-top: 10px;
  color: #252c3a;
  -webkit-transition: .3s;
  transition: .3s;
}

.adm_sec .form_box form .f_link:hover {
  color: #43cb83;
  text-decoration: underline;
}

/* ?News Section */

.news_sec {
  padding: 100px 0px 70px;
  background-color: #f1f1f1;
}

.news_sec .news_cont h1 {
  font-size: 35px;
}

.news_sec .single_test h3 {
  color: #252c3a;
}

/* ?Department Section */
.dpt_sec {
  padding: 100px 0px 70px;
}

.dpt_sec .dpt_cont h1 {
  font-size: 35px;
}

.dpt_sec .dpt {
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.dpt_sec .dpt .loadr {
  left: 5px;
  top: 5px;
  opacity: 0;
}

.dpt_sec .dpt:hover .loadr {
  opacity: 1;
}

.dpt_sec .dpt h3 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  opacity: 0;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.dpt_sec .dpt:hover h3 {
  bottom: 20px;
  opacity: 1;
}

/* ?Course Section */

.crs_sec {
  padding: 100px 0px 70px;
}

.crs_sec h1 {
  font-size: 35px;
}

.crs_sec .course {
  margin-bottom: 30px;
  position: relative;
}

.crs_sec .course .btn1:hover {
  color: #fff !important;
  background-color: #4a8cd7;
  border-color: #4a8cd7;
}

.crs_sec .course .btn2:hover {
  color: #fff !important;
  background-color: #816ae7;
  border-color: #816ae7;
}

.crs_sec .course .btn3:hover {
  color: #fff !important;
  background-color: #ebc14f;
  border-color: #ebc14f;
}

.crs_sec .course .btn4:hover {
  color: #fff !important;
  background-color: #49078c;
  border-color: #49078c;
}

.crs_sec .course .btn5:hover {
  color: #fff !important;
  background-color: #32ae7f;
  border-color: #32ae7f;
}

.crs_sec .course .btn6:hover {
  color: #fff !important;
  background-color: #27305b;
  border-color: #27305b;
}

.crs_sec .course .btn7:hover {
  color: #fff !important;
  background-color: #ff9512;
  border-color: #ff9512;
}

.crs_sec .course .btn8:hover {
  color: #fff !important;
  background-color: #283f78;
  border-color: #283f78;
}

.crs_sec .course .cit {
  position: relative;
}

.crs_sec .course .cit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: rgba(0, 0, 0, 0.7);
}

.crs_sec .course .cit .nav {
  width: 100%;
  left: 0;
  bottom: -40px;
  opacity: 0;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.crs_sec .course .cit .nav a {
  font-size: 30px;
  color: #fff;
  margin-right: 12px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.crs_sec .course .cit .nav a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.crs_sec .course:hover .cit:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.crs_sec .course:hover .nav {
  opacity: 1;
  bottom: 40px;
}

.crs_sec .course h4 {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #252c3a;
}

.crs_sec .course h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14;
  margin: 15px 0px !important;
}

/* ?Gallery Section */

.show_sec {
  padding: 100px 70px;
  background-color: #f1f1f1;
}

.show_sec h1 {
  font-size: 35px;
}

.show_sec .btn-outline-success:hover {
  background-color: #43cb83 !important;
  border-color: #43cb83 !important;
}

.show_sec .show .overlay {
  background: linear-gradient(127deg, #00F260, #0575E6);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  opacity: 0;
}

.show_sec .show:hover .overlay {
  opacity: .7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ?Client Section */

.client_sec {
  background-image: url(../img/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
}

.client_sec h1 {
  font-size: 35px;
}

.client_sec .testmonial .owl-item img {
  width: inherit !important;
}

.client_sec .testmonial .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_sec .testmonial .owl-nav button {
  display: none;
}

.client_sec .testmonial .owl-nav button span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #43cb83;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 57px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.client_sec .testmonial .owl-nav button span:hover {
  background-color: #69cfbb;
}

.client_sec .testmonial .single_test .test_box {
  width: 60%;
  margin: auto;
  padding: 60px 50px;
  border: 15px solid #F9F7F7;
  border-radius: 4px;
}

.client_sec .testmonial .single_test .test_box .comm {
  top: -50px;
}

.client_sec .testmonial .single_test .test_box .user {
  bottom: -65px;
  border: 4px solid #43cb83;
}

.client_sec .testmonial .single_test .test_box h3 {
  color: #252c3a;
}

.client_sec .testmonial .single_test .test_box h5 {
  font-size: 20px;
}

.client_sec .testmonial .single_test .test_box .marko {
  width: 20px;
  height: 1px;
  -webkit-animation: bcng 1s infinite alternate linear;
          animation: bcng 1s infinite alternate linear;
}

/* ?Contact Section */

.cont_sec {
  padding: 100px 0px 70px;
  background-color: #252c3a;
}

.cont_sec .cont_info p {
  color: #969595;
  border-bottom: 1px solid #303744;
  padding: 25px 0px 30px;
}

.cont_sec .cont_info .social a {
  color: #fff;
  font-size: 30px;
  margin-right: 25px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.cont_sec .cont_info .social a:last-child {
  margin-right: 0px;
}

.cont_sec .cont_info .social a:hover {
  color: #43cb83;
}

.cont_sec .cont_link p {
  color: #fff;
}

.cont_sec .cont_link a {
  color: #969595;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
}

.cont_sec .cont_link a:hover {
  color: #43cb83;
}

.cont_sec .cont_link .btn {
  font-family: "Work Sans", sans-serif !important;
  background-color: #32ae7f;
  color: #fff !important;
}

.cont_sec .cont_link .btn:hover {
  background-color: #43cb83;
}

/* ?Footer Section */

.footer_sec {
  background-color: #1d232e;
  padding: 20px 0px 8px;
}

.footer_sec p {
  color: #969595;
}

.footer_sec .f-link li {
  margin-right: 20px;
}

.footer_sec .f-link li:last-child {
  margin-right: 0;
}

.footer_sec .f-link li a {
  text-transform: uppercase;
  color: #969595;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer_sec .f-link li a:hover {
  color: #43cb83;
}



@-webkit-keyframes bcng {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #43cb83;
  }
}

@keyframes bcng {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #43cb83;
  }
}

/* ?Ends Here */